<div id="termsPopup">
  <div id="termsHeader">
    <!-- <p>{{ 'card.review.terms' | translate }}</p> -->
  </div>
  <div id="tabRow">
    <div
      *ngFor="let switch of termscontents; let i = index"
      [ngClass]="switch.tab_key"
      class="termsTabs"
      (click)="switchTab(switch.tab_key)"
    >
      <p>{{ switch.tab_name | translate }}</p>
    </div>
  </div>
  <div id="tabContent">
    <div
      repeat.for="content of termscontents"
      class="termsContents"
      [innerHTML]="tabContent"
    ></div>
  </div>
  <div id="closeRow">
    <button class="closeButton" (click)="closeTerms()">
        Close
    </button>
  </div>
</div>
