#termsPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 1030;
  background: #fff;

  & #termsHeader {
    width: 100%;
    height: 60px;
    background: #285642;
    color: white;
    text-align: center;
    display: table;
  }
  & #tabRow {
    width: 100%;
    height: 70.5px;
    display: flex;
    justify-content: space-around;

    & .termsTabs {
      margin-top: 18px;
      border-radius: 39.153px;
      border: 0.76px solid #eaeaea;
      background: #fff;
      box-shadow: 0px 3.04px 3.04px 0px rgba(0, 0, 0, 0.1);
      color: #285642;
      text-align: center;
      font-family: Wasa;
      font-size: 14.915px;
      width: 157.5px;
      height: 47px;
      text-align: center;
      cursor: pointer;

      & p {
        line-height: 15px;
      }

      &:hover {
        background: #285642;
        color: #fff;
      }

      &.active {
        background: #285642;
        color: #fff;
      }
    }
  }

  #tabContent {
    width: 100%;
    height: 70%;
    overflow: scroll;

    & .termsContents {
      padding: 30px;
      color: #000;
      margin: auto;
      width: 85%;
      font-family: 'Wasa-Light';
      font-size: 12px;
      & a {
        font-family: 'Wasa-Light';
        font-size: 12px;
        cursor: pointer;
        @media (min-width: 420px) {
          &:hover {
            color: saturate(#31aade, 100%);
          }
        }
        color: #31aade;
      }
      & p {
        .header {
          font-family: 'Wasa';
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }
  }

  & #closeRow {
    position: absolute;
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;

    .closeButton {
      width: 160px;
      height: 45px;
      padding: 7.611px 22.833px;
      color: #FFF;
      border-radius: 100px;
      background: #285642;
      box-shadow: 0px 73.673px 21.228px 0px rgba(0, 0, 0, 0),
        0px 47.451px 18.73px 0px rgba(0, 0, 0, 0.01),
        0px 26.223px 16.233px 0px rgba(0, 0, 0, 0.03),
        0px 12.487px 12.487px 0px rgba(0, 0, 0, 0.04),
        0px 2.497px 6.243px 0px rgba(0, 0, 0, 0.05);
    }
  }
}
