<div
  class='cardContentContainer'
  >

  <div class="bgSelectionContainer">
    <div class="bgSelectionContainer__SelectionBox" (click)="setManBackgroundImage()">
      <img src="{{manBackgroundSelectorImage}}" (load)="setBoundingRects()" alt="">
      <span *ngIf="isManBg" class="dot"></span>
    </div>
    <div class="bgSelectionContainer__SelectionBox" (click)="setWomanBackgroundImage()">
      <img src="{{womanBackgroundSelectorImage}}" (load)="setBoundingRects()" alt="">
      <span *ngIf="!isManBg" class="dot"></span>
    </div>
  </div>

  <div class="depthText">
    {{ depthText }}
  </div>
	

  <div
    #cardContentWrapper
    class="cardContentWrapper"
    (mousemove)="drag($event)"
    (mousedown)="dragStart($event)"
    (touchstart)="dragStart($event)"
    (touchmove)="drag($event)"
    (mouseup)="dragEnd($event)"
    (touchend)="dragEnd($event)"
    (mouseleave)="dragEnd($event)"
    >

	<img #imageRef src="assets/decks/flood/depth-bg-man.png" id="bgImage">

    <div id="floodZone" [ngStyle]="{'height': currentY + '%' }"></div>
      <div id="sliderWrapper" [ngStyle]="{'bottom': currentY + '%' }" >
        <div #sliderZone id="sliderZone" ></div>
        <div id="knob" [class]='knobClass'>
          <div class="knobIcon knobIcon--arrowUpIcon"><span class="material-icons">keyboard_arrow_up</span></div>
          <div class="knobIcon knobIcon--arrowDownIcon"><span class="material-icons">keyboard_arrow_down</span></div>
        </div>
        <!-- <div id="depthText">{{ depthText }}</div> -->

        <!-- <div id="hTop" class="knobHelper"><i class="icon-up-open"></i></div> -->
        <!-- <div id="hBottom" class="knobHelper"><i class="icon-down-open"></i></div> -->
      </div>

  </div>
</div>
