.textBoxContainer {
  margin-top: 40.5px;
  padding: 0px 10vw;
}

:host {
  width: 60%;
  max-width: 300px;
  overflow: hidden;
}

.textbox {
  margin: 0;
  height: 130px;
  color: black;
  border-radius: 6.95px;
  border: 0.869px solid #E7E7E7;
  box-sizing: border-box;
  width: 100%;
  background: #FFF;
  padding: 5px;

  &::-moz-placeholder {
    color: black;
  }

  &::-webkit-input-placeholder {
    color: black;
  }

  &:focus {
    outline: none;
  }

  &__warning {
    display: flex;
    font-family: sans-serif;
    color: white;
    padding: 20%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #6C6D70;
    height: 200px;
    border: 2.5px solid white;
  }
}

.characterCounterContainer {
  margin-top: 7.5px;
  text-align: right;
}

.characterCounter {
  text-align: right;
  color: #285642;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}

// .bottom {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 10px;
//   padding-top: 5px;
// }

// .icons {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;

//   .material-icons {
//     cursor: pointer;
//     margin: 0 5px;
//     color: #6D6E6D;
//   }

//   .active-icon {
//     color: white;
//   }
// }

// .counter {
//   color: #424242;
//   font-size: 14px;
//   display: flex;
//   align-items: center;
// }
