<div class="review">
  <div class="review__header">
    <h2 class="review__header-title">Your Report Summary</h2>
    <span *ngIf="deckType === 'flood'" class="review__header-floodDepth">{{
      floodDepth
    }}</span>
  </div>

  <div class="review__summary">
    <span class="review__summary-empty-label" *ngIf="!hasPreview">No Photos Uploaded</span>
    <div class="review__summary-img" [ngStyle]="{'display': hasPreview ? 'flex': 'none' }">
      <img id="preview-img" />
    </div>

    <span class="review__summary-empty-label" *ngIf="description.length === 0">No Description Added</span>
    <div class="review__summary-description" *ngIf="description.length > 0">
      <p>
        {{ description }}
      </p>
    </div>

    <span class="review__summary-empty-label" *ngIf="floodChecklistItems.length === 0">No Specific Rain Scenario Checked</span>
    <div class="review__summary-tags" *ngIf="floodChecklistItems.length > 0">
      <span *ngFor="let selection of floodChecklistItems" class="tag">{{
        selection
      }}</span>
    </div>
  </div>
</div>
