.review {
  display: flex;
  flex-direction: column;
  width: 90vw;

  &__header {
    text-align: center;

    &-title {
      color: #285642;
      text-align: center;
      font-family: Wasa-Bold;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%; /* 28px */
    }

    &-floodDepth {
      margin-top: 15px;
      width: 92.368px;
      height: 27px;
      flex-shrink: 0;
      border-radius: 10.658px;
      background: #2b7054;
      color: #fff;
      text-align: center;
      font-family: Wasa;
      font-size: 14.211px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      padding: 4.35px 15.7px 4.35px 15.7px;
    }
  }

  &__summary {
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    &-img {
      display: flex;
      justify-content: center;

      img {
        border-radius: 12.682px;
        width: 162.681px;
        height: 162.681px;
        object-fit: cover;
      }
    }

    &-description {
      color: #285642;
      text-align: center;
      font-family: Wasa;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 145%;
      margin-top: 10px;
    }

    &-tags {
      max-height: 110px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;

      .tag {
        text-align: center;
        width: 140px;
        padding: 4px;
        border-radius: 23px;
        background: #8bdebc;
        color: #2b1a1a;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 145%; /* 20.3px */
      }
    }
  }
}

@media (min-width: 320px) {
  .review {
    &__header {
      text-align: center;

      &-title {
        font-size: 2vh;
        line-height: 100%; /* 28px */
      }

      &-floodDepth {
        margin-top: 10px;
        height: 22px;
        font-size: 11px;
        line-height: 100%;
      }
    }

    &__summary {
      margin-top: 10px;

      &-img {

        img {
          border-radius: 12.682px;
          width: 140px;
          height: 140px;
        }
      }

      &-description {
        font-size: 1.5vh;
        line-height: 100%;
      }

      &-tags {
        max-height: 110px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;

        .tag {
          width: 140px;
          padding: 3px;
          border-radius: 23px;
          font-size: 1.5vh;
          line-height: 100%; /* 20.3px */
        }
      }
    }
  }
}
