<div class="policies">
  <h1>Privacy Policy</h1>
  <p>
    Welcome to AafatInfo.pk, a website that collects and shares urban flooding
    information from residents and government agencies, helping to reduce risk
    during urban flooding events. AafatInfo/AafatInfo.pk is a project of the
    Community Climate Design Research and Development Foundation (“CCD<sup>RDF</sup>”),
    member of Climate Emergency Software Alliance (“CESA”) and operates using
    CogniCity Open Source Software (“OSS”). Throughout this Privacy Policy,
    CCD<sup>RDF</sup>, CESA, and CogniCity OSS are collectively referred to as “we” or
    “us.” We are committed to respecting the privacy of users who access the
    AafatInfo.pk website (the "Site," which includes all pages within the
    AafatInfo.pk domain). "You" refers to any individual or entity accessing,
    browsing, or using AafatInfo.pk or contributing any information, text,
    links, graphics, photos, videos, or other materials (“Content”) to the
    Site.
  </p>
  <h2>1. Web Server Logs</h2>
  <h3>1.1 Information Collected:</h3>
  <p>
    When you visit the Site, including submitting Rain Reports, our web server
    may collect the following information in its logs:
  </p>
  <ul>
    <li>Your IP address</li>
    <li>URLs you have requested to access</li>
    <li>Dates and methods of requests</li>
    <li>Status code of your requests</li>
    <li>URLs of referring websites</li>
    <li>Number of bytes transferred</li>
    <li>Your web browser and operating system</li>
    <li>Your location (if you provide it)</li>
    <li>Your preferred language (based on browser settings)</li>
    <li>
      Your social messaging account username or user identification number
    </li>
  </ul>

  <h3>1.2 Use of Collected Information:</h3>
  <p>
    We use server log information to diagnose technical issues, administer the
    Site, analyze Site usage patterns, and tailor content to user needs. Logs
    are retained for up to 30 days, after which they are deleted from our
    systems. Unless required by law, we do not link IP addresses to personally
    identifiable information, ensuring user anonymity.
  </p>
  <h3>1.3 Third-Party Access:</h3>
  <p>
    In limited cases, we may share server log data with third parties, such as
    consultants or service providers, for technical support or legal
    compliance.
  </p>
  <h2>2. User-Generated Content:</h2>
  <h3>2.1 Submission of Content:</h3>
  <p>
    You may submit content (e.g., Rain Reports) via AafatInfo.pk’s social
    messaging bot on platforms such as WhatsApp or Facebook. Registration is
    not required to use these services; however, we collect your social media
    username or ID to facilitate the service and confirm receipt of your
    report. Please note that any user-generated content you post to the Site
    will be publicly accessible to all visitors. Therefore, do not submit any
    information you do not wish to make publicly available.
  </p>
  <h3>2.2 Content Removal:</h3>
  <p>
    If you wish to have any of your user-generated content removed, you can
    request deletion by contacting our support team at contact@aafatinfo.pk. We
    will evaluate your request and, where appropriate, remove the content in
    accordance with legal obligations.
  </p>
  <h2>3. Compliance with Islamic Republic of Pakistan Laws:</h2>
  <h3>3.1 Data Protection Laws:</h3>
  <p>
    We comply with Pakistan's Prevention of Electronic Crimes Act, 2016
    (“PECA”), which governs our data protection and privacy practices. We
    ensure that data sharing with third parties complies with legal
    requirements and that your personal data is protected.
  </p>
  <h3>3.2 User Rights:</h3>
  <p>
    Under PECA, users have the right to access, rectify, or erase their
    personal information. To exercise these rights, please contact us at
    contact@aafatinfo.pk.
  </p>
  <h3>3.3 Personal Data Protection Act (“PDPA”):</h3>
  <p>
    While the Personal Data Protection Act has not yet been enacted, we are
    preparing to align with its requirements once it is passed. We will update
    this Privacy Policy to reflect any changes needed for compliance.
  </p>

  <h2>4. Research Access to Data</h2>
  <h3>4.1 Use for Academic Research:</h3>
  <p>
    In addition to providing urban flooding information to residents,
    government and disaster-response agencies, AafatInfo.pk facilitates
    academic research into risk reduction. Any content you post may be used for
    academic purposes, but this will only be done using anonymized data,
    ensuring that no personally identifiable information is included in
    research outputs.
  </p>

  <h2>5. Programming Analytics</h2>
  <h3>5.1 Internal Analytics:</h3>
  <p>
    In order to refine the resources on offer through the Site and to optimize
    AafatInfo.pk programming, AafatInfo.pk may elect to conduct internal
    analytics of content submitted by users. Any such internal analytics will
    be conducted on an anonymized set of user-generated content.
  </p>

  <h2>6. Google Analytics</h2>
  <h3>6.1 Data Collected by Google Analytics:</h3>
  <p>
    We use Google Analytics software to perform Site usage analytics. Google
    Analytics collects anonymous information from users to help us track Site
    usage and referrals from other websites. These data are used primarily to
    optimize the Site experience for our visitors, but we may also use the data
    to assist us in marketing the Site. Information collected and processed by
    Google Analytics includes the users:
  </p>

  <ul>
    <li>IP address;</li>
    <li>network location; and</li>
    <li>geographic location.</li>
  </ul>

  <h3>6.2: Cookies and Control:</h3>
  <p>
    Google Analytics acquires all its information directly from the user, by
    installing a cookie (see below) on JavaScript-enabled computers. The Site
    does not share any information it collects with Google, and Google does not
    collect any personally identifiable information.
  </p>

  <h2>7. Cookies</h2>
  <h3>7.1 Use of Cookies:</h3>
  <p>
    Cookies are small files stored on your computer when you visit websites.
    They help track your usage patterns and improve your browsing experience.
    We use cookies for the following purposes:
  </p>
  <ul>
    <li>To improve user experience</li>
    <li>
      To gather anonymous analytics data (as noted above, Google Analytics)
    </li>
  </ul>
  <h3>7.2 Managing Cookies:</h3>
  <p>
    You can manage or disable cookies via your browser settings, but this may
    affect your ability to use some features of the Site.
  </p>

  <h2></h2>
  <h3>8.1 No Sale of Information:</h3>
  <p>
    We do not sell, rent, or share your personally identifiable information
    with third parties, except as discussed in this Policy or required by law
    or legal process.
  </p>
  <h3>8.2 Sharing for Operational Purposes:</h3>
  <p>
    We may disclose information to CCD<sup>RDF</sup>, CESA and CogniCity OSS employees,
    consultants and agents who have a legitimate need to know the information
    for the purpose of fixing or improving the Site and monitoring and
    improving the security of our network
  </p>
  <h3>8.3 Legal Compliance:</h3>
  <p>
    If legally required (such as through a subpoena or court order or
    investigation), or if necessary to protect our legal rights, we may
    disclose information to law enforcement or regulatory authorities without
    notice to you.
  </p>

  <h2>9. Links to Other Websites:</h2>
  <h3>9.1 Third-Party Links:</h3>
  <p>
    This Site may contain links to other web resources, including websites of
    organizations other than CCD<sup>RDF</sup>, CESA and CogniCity OSS. The websites to
    which the Site links may also install cookies on your computer, log your
    access to their web pages, or collect user-identifying information directly
    from you, once you proceed to those sites. We are not responsible for the
    privacy practices of other sites to which the Site links. The privacy
    policies on those sites, if any, will govern your use of the sites.
  </p>

  <h2>10. Data Security:</h2>
  <h3>10.1 Security Measures:</h3>
  <p>
    We take appropriate physical, electronic, and managerial precautions to
    safeguard your data. However, no security system is foolproof. We cannot
    completely guarantee the security of our database, nor can we guarantee
    that the information you supply will not be intercepted while being
    transmitted to us over the Internet.
  </p>

  <h2>11. Changes to the Privacy Policy:</h2>
  <h3>11.1 Notification of Policy Updates:</h3>
  <p>
    We periodically review and update our security measures and Privacy Policy.
    If we change our Privacy Policy, we will post it on the Site. We encourage
    you to review our Privacy Policy on a regular basis.
  </p>

  <h2>12. Contact Information:</h2>
  <h3>12.1 Contact Us:</h3>
  <p>
    If you have any questions about this Privacy Policy, the practices of this
    Site, or your dealings with this Site, you can contact us at;
    contact@aafatinfo.pk or via mail at: Community Climate Design<sup>RDF</sup>
  </p>
  <p>
    <span> Ground Floor, 75-Q, Block 2, PECHS, </span>
    <span> Karachi, Sindh 07544, Pakistan. </span>
  </p>

  <span>Effective Date: September 5th, 2024</span>
</div>
