<div class="policies">
  <h1>Terms of Service</h1>
  <p>
    These Terms of Service (“TOS”) govern your access to and use of
    <a href="dev.aafatinfo.pk">AafatInfo.pk</a> (“Platform”), including but not limited to, all information,
    content, and functionality available through the <a href="dev.aafatinfo.pk">AafatInfo.pk</a> website. By
    accessing or using <a href="dev.aafatinfo.pk">AafatInfo.pk</a>, or by contributing any information, text,
    links, graphics, photos, videos, or other materials ("Content") to the
    platform, you actively consent to and agree to be bound by these Terms of
    Service. "You" refers to any individual or entity accessing, browsing, or
    using <a href="dev.aafatinfo.pk">AafatInfo.pk</a> or contributing Content to the Platform.
  </p>

  <h2>1. About <a href="dev.aafatinfo.pk">AafatInfo.pk</a></h2>
  <h3>1.1 Overview:</h3>
  <p>
    AafatInfo/AafatInfo.pk is a project of the Community Climate Design
    Research and Development Foundation (“CCD<sup>RDF</sup>”), a non-profit organization
    registered under Section 42 of the Companies Act with the Securities and
    Exchange Commission of Pakistan (“SECP”). <a href="dev.aafatinfo.pk">AafatInfo.pk</a> is a member of
    Climate Emergency Software Alliance (CESA) and operates using CogniCity
    Open Source Software (OSS). Throughout this Agreement, CCD<sup>RDF</sup>, CESA, and
    CogniCity OSS are collectively referred to as “we” or “us.” <a href="dev.aafatinfo.pk">AafatInfo.pk</a> is
    supported by the re:arc institute.
  </p>
  <h3>1.2 System Testing:</h3>
  <p>
    The system is currently being tested at https://dev.aafatinfo.pk. The main
    platform, https://aafatinfo.pk, will become fully operational following a
    user testing phase and subsequent improvements.
  </p>
  <h3>1.3 Purpose:</h3>
  <p>
    <a href="dev.aafatinfo.pk">AafatInfo.pk</a> collects Rain Reports from users to provide and disseminate
    real-time information on urban flooding conditions by locations. The goal
    is to assist residents and decision-makers in better responding to urban
    flooding conditions.
  </p>

  <h2>2. User Contributions and Content</h2>
  <h3>2.1 Rain Reports Submission:</h3>
  <p>
    You may submit reports on rain conditions using the <a href="dev.aafatinfo.pk">AafatInfo.pk</a> Rain
    Report Card. To access a Report Card, you can request a one-time link from
    the <a href="dev.aafatinfo.pk">AafatInfo.pk</a> Automated Program ("Bot") through WhatsApp. Rain Reports
    submitted by you will be added to the publicly available live
    information-sharing system at https://dev.aafatinfo.pk/map.
  </p>

  <h3>2.2 Public Data Sharing:</h3>
  <p>
    Rain Reports may include, but are not limited to, the following data, which
    will be shared publicly:
  </p>
  <ul>
    <li>Your location at the time of the report.</li>
  </ul>

  <h3>2.3 User Responsibility:</h3>
  <p>
    You are solely responsible for any Content you provide to <a href="dev.aafatinfo.pk">AafatInfo.pk</a>. You
    must not add any Content owned by someone else, including photos, without
    explicit permission from the copyright holder. By submitting a Rain Report,
    you represent and warrant that you have all rights, licenses, consents, and
    permissions necessary to submit the Content of the Rain Report and to grant
    us the rights described below.
  </p>

  <h3>2.4 Content Accuracy:</h3>
  <p>
    While we make every effort to ensure the accuracy and reliability of the
    information shared on <a href="dev.aafatinfo.pk">AafatInfo.pk</a>, some Content may be inaccurate,
    incomplete, or outdated. We depend on contributors to provide accurate and
    thorough information, but we cannot guarantee the accuracy, completeness,
    or reliability of any Content, including Rain Reports or other information
    posted on <a href="dev.aafatinfo.pk">AafatInfo.pk</a>. We do not independently verify the accuracy of this
    Content. Your use of or reliance on any Content available on <a href="dev.aafatinfo.pk">AafatInfo.pk</a>
    is at your own risk, and we are not liable for any damages or losses
    arising from such reliance.
  </p>

  <h3>2.5 Prohibited Activities:</h3>
  <p>
    You agree not to engage in any of the following activities while using
    <a href="dev.aafatinfo.pk">AafatInfo.pk</a>:
  </p>
  <ul>
    <li>Submitting false, misleading, or inaccurate information;</li>
    <li>
      Uploading or transmitting any software viruses, worms, or other harmful
      code;
    </li>
    <li>
      Engaging in any form of harassment, abuse, or discriminatory behavior
      toward other users; and
    </li>
    <li>
      Attempting to interfere with or disrupt the operation of <a href="dev.aafatinfo.pk">AafatInfo.pk</a> or
      its associated services.
    </li>
  </ul>

  <h3>2.6 Compliance with IT Laws:</h3>
  <p>
    You agree to comply with all applicable laws and regulations of the Islamic
    Republic of Pakistan, including the Prevention of Electronic Crimes Act
    (PECA) 2016, the Pakistan Telecommunication (Re-organization) Act 1996, and
    any other relevant laws governing the use of online services, content, and
    data protection. Any content that may be considered blasphemous, obscene,
    or otherwise illegal under the laws of Pakistan will be removed if
    reported. You agree not to post, share, or distribute any such content on
    the platform.
  </p>

  <h3>2.7 Right to Reject or Remove Reports:</h3>
  <p>
    <a href="dev.aafatinfo.pk">AafatInfo.pk</a> reserves the right to reject or remove any Rain Report from
    the site at any time and for any reason.
  </p>

  <h2>3 Licensing and Intellectual Property</h2>
  <h3>3.1 Licensing:c</h3>
  <p>
    We do not claim ownership of the Content you submit in a Rain Report.
    However, by submitting a Rain Report, you grant us a worldwide,
    royalty-free, non-exclusive, perpetual, irrevocable license to use,
    distribute, and display your Rain Report and the Content included in it.
  </p>

  <h3>3.2 Creative Commons Attribution 4.0 International License:</h3>
  <p>
    By submitting a Rain Report, you agree that the Content will be licensed
    under the Creative Commons Attribution 4.0 International License. This
    license allows others to copy, distribute, and use the Content of your Rain
    Report, provided they give appropriate credit to the original source. For
    more details, please see the license at
    https://creativecommons.org/licenses/by/4.0/.
  </p>

  <h3>3.3 Open Source Software:</h3>
  <p>
    <a href="dev.aafatinfo.pk">AafatInfo.pk</a> is supported by CogniCity Open Source Software and is provided
    without any warranty. For more details on the licensing terms of the
    software.
  </p>

  <h3>3.4 Trademark Notice:</h3>
  <p>
    "AafatInfo" is a trademark of CCD<sup>RDF</sup>. You are not permitted to use this
    trademark, Aafat Info or <a href="dev.aafatinfo.pk">AafatInfo.pk</a> without prior written consent from
    CCD<sup>RDF</sup> or CESA except as required to access or use the services provided by
    <a href="dev.aafatinfo.pk">AafatInfo.pk</a>.
  </p>

  <h2>4. Copyright Infringement:</h2>
  <h3>4.1 Reporting Copyright Infringement:</h3>
  <p>
    If you believe that copyrighted material has been inappropriately added to
    <a href="dev.aafatinfo.pk">AafatInfo.pk</a>, please contact our designated copyright agent at
    <a href="mailto:contact@aafatinfo.pk">contact@AafatInfo.pk</a> or via mail at:
    <span>Community Climate Design<sup>RDF</sup></span>
    <span>Ground Floor, 75-Q, Block 2, PECHS,</span>
    <span>Karachi, Sindh 07544, Pakistan.</span>
    Your notification must include the following information:
  </p>

  <ul>
    <li>
      Identification of the copyrighted material you believe has been
      infringed.
    </li>
    <li>
      Identification of the infringing material, including sufficient
      information for us to locate it (e.g., URL, IP address, or specific page
      details).
    </li>
    <li>Your contact information (e.g., email address, phone number).</li>
    <li>
      A statement that you believe the use of the material is not authorized by
      the copyright owner or an authorized agent.
    </li>
    <li>
      A statement that the information provided in your notification is
      accurate and that you are the copyright owner or are authorized to act on
      their behalf.
    </li>
  </ul>

  <h2>5. Privacy and Data Protection</h2>
  <h3>5.1 Data Privacy:</h3>
  <p>
    We respect your privacy and are committed to protecting your personal
    information. For details about the data we collect, how we use it, and the
    measures we take to protect your data, please refer to our Privacy Policy.
  </p>

  <h2>6. Disclaimer; Limitation of Liability</h2>
  <h3>6.1 Disclaimer of Warranties:</h3>
  <p>
    <a href="dev.aafatinfo.pk">AafatInfo.pk</a>, including any information, content, or services made
    available on or through the site, is provided on an "as is" and "as
    available" basis. We disclaim all warranties of any kind (express, implied,
    or otherwise), including, but not limited to, implied warranties of
    merchantability, fitness for a particular purpose, and non-infringement. We
    do not warrant that the site will operate uninterrupted or error-free or
    that it will be free from viruses or other harmful components, except to
    the extent that such warranties cannot be disclaimed under applicable law.
  </p>

  <h3>6.2 Limitation of Liability:</h3>
  <p>
    Except to the extent prohibited by applicable law, we shall not be liable
    for, and expressly disclaim all liability for, any loss, injury, or damage
    arising from or related to the use of <a href="dev.aafatinfo.pk">AafatInfo.pk</a> and the Content
    available on the site. This exclusion of liability includes, but is not
    limited to, any special, incidental, consequential, punitive, or exemplary
    damages, such as loss of revenue, data, or anticipated profits, regardless
    of how and when such damages might occur. This exclusion applies even if we
    have been advised of the possibility of such damages.
  </p>

  <h3>6.3 Liability Cap:</h3>
  <p>
    If liability cannot be excluded by law, our liability is limited to actual
    and direct financial losses that are conclusively proven to have been
    caused by our own negligence.
  </p>

  <h2>7. Indemnification</h2>
  <h3>7.1 Indemnification Clause:</h3>
  <p>
    You agree to defend, indemnify, and hold harmless each of us, as well as
    our respective subsidiaries, affiliates, officials, officers, faculty,
    students, fellows, governing board members, agents, and employees, from and
    against any third-party claims, actions, or demands arising out of,
    resulting from, or in any way related to your use of <a href="dev.aafatinfo.pk">AafatInfo.pk</a>. This
    includes any liability or expense arising from all claims, losses, damages
    (both actual and consequential), suits, judgments, litigation costs, and
    attorneys' fees of every kind and nature. In the event of such a claim,
    suit, or action, we will provide you with written notice of the claim.
  </p>

  <h2>8. Feedback and Suggestions</h2>
  <h3>8.1 Feedback:</h3>
  <p>
    If you provide us with any feedback or suggestions regarding <a href="dev.aafatinfo.pk">AafatInfo.pk</a>,
    you grant us a worldwide, perpetual, irrevocable, royalty-free license to
    use and incorporate such feedback into the platform without any obligation
    to compensate you.
  </p>

  <h2>9. Miscellaneous</h2>
  <h3>9.1 Governing Law:</h3>
  <p>
    This Agreement will be governed by and construed in accordance with the
    laws of Pakistan, without regard to its conflict of law provisions. If any
    provision of this Agreement is found to be unenforceable, that provision's
    invalidity will not affect the validity of the remaining portions of this
    Agreement.
  </p>

  <h3>9.2 Entire Agreement:</h3>
  <p>
    This Agreement, along with our Privacy Policy, constitutes the entire
    agreement between you and us, superseding any prior or contemporaneous
    agreements, whether written, oral, or otherwise, related to the subject
    matter herein. We may amend this Agreement from time to time without
    notice; however, such amendments will not affect your use of or
    contributions to <a href="dev.aafatinfo.pk">AafatInfo.pk</a> made before the amendment's effective date.
    You are encouraged to review this Agreement each time you use <a href="dev.aafatinfo.pk">AafatInfo.pk</a>
    or submit a Rain Report to ensure you understand the terms that apply.
  </p>

  <h3>9.3 Waiver and Severability:</h3>
  <p>
    Our failure to exercise or enforce any right or provision of these TOS
    shall not constitute a waiver of that right or provision. If any provision
    of these TOS is deemed invalid by a court of competent jurisdiction, the
    parties agree that the court should endeavor to give effect to the parties'
    intentions as reflected in the provision, and the remaining provisions of
    these TOS will remain in full force and effect.
  </p>

  <h3>9.4 Force Majeure:</h3>
  <p>
    <a href="dev.aafatinfo.pk">AafatInfo.pk</a> shall not be liable for any failure or delay in performance of
    its obligations under these Terms of Service due to events beyond its
    reasonable control, including but not limited to acts of God, war,
    terrorism, government actions (including internet shutdowns or
    restrictions), natural disasters, strikes, or other similar events.
  </p>

  <h2>10. Contact Information</h2>
  <h3>10.1 Contact Us:</h3>

  <p>
    If you have any questions about these Terms of Service or the practices of
    <a href="dev.aafatinfo.pk">AafatInfo.pk</a>, please contact us at: <a href="mailto:contact@aafatinfo.pk">contact@AafatInfo.pk</a> or via mail at:
    <span> Community Climate Design<sup>RDF</sup></span>
    <span> Ground Floor, 75-Q, Block 2, PECHS, </span>
    <span> Karachi, Sindh 07544, Pakistan. </span>
  </p>

  <span> Effective Date: September 5th, 2024 </span>
</div>
