.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text,
  &__text a {
    text-align: center;
  }

  &__text a {
    text-decoration-line: underline;
    color: #285642;
    cursor: pointer;
  }

  &__text {
    margin-top: 50px;
    color: #285642;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;

    margin: 15px 0;
  }

  &__warning {
    width: 80%;
    color: white;
    font-size: 12px;
    text-align: center;
    margin: 15px 0;
  }
}

.captchaContainer {
  margin-bottom: 15px;
}

.rc-anchor-dark {
  background: #424243 !important;
}

@media (max-width: 481px) {
  .review__text {
    padding: 10px;
    font-size: 12px;
  }
}


@media (min-width: 600px) {
  .review {
    height: 90vh;
  }
}