.checklistItem__container {
  .imgCheckbox {
    width: 170px;
    height: 170px;
    cursor: pointer;
    color: #fff;
    position: relative;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    font-family: 'Wasa-Bold';
    border-radius: 6.95px;

    &-input {
      position: absolute;
      width: 26.063px;
      height: 26.063px;
      top: 12px;
      left: 10px;
    }
  }

  .imgCheckbox:hover {
    background: #03824e;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
  }

  .selected {
    background: #03824e;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
  }

  .titles {
    color: #03824e;

    &-main {
      margin: 5px 0px 0px 0px;
      color: #285642;
      font-family: Wasa-Bold;
      font-size: 14px;
      font-style: normal;
      line-height: 140%; /* 19.6px */
    }

    &-sub {
      margin: 3px 0px 0px 0px;
      color: #285642;
      font-family: Wasa;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 138%; /* 19.32px */
      letter-spacing: -0.28px;
    }
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .checklistItem__container {
    .imgCheckbox {
      width: 100px;
      height: 100px;
    }

    .titles {
      width: 100px;

      .titles-main {
        font-size: 14px;
      }

      .titles-sub {
        font-size: 11px;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .checklistItem__container {
    .imgCheckbox {
      width: 150px;
      height: 150px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .checklistItem__container {
    .imgCheckbox {
      .imgCheckbox {
        width: 200px;
        height: 200px;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .checklistItem__container {
    .imgCheckbox {
      width: 230px;
      height: 230px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .checklistItem__container {
    .imgCheckbox {
      width: 250px;
      height: 250px;
    }
  }
}
