.checklistItem__container {
  display: flex;
  outline: none;

  .imgCheckbox {
    background-size: contain;
    width: 15vh;
    height: 15vh;
    cursor: pointer;
    color: #fff;
    position: relative;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    font-family: 'Wasa-Bold';
    border-radius: 6.95px;

    &__checkbox {
      position: absolute;
      top: 12px;
      left: 10px;

      width: 15.331px;
      height: 15.331px;
      border-radius: 1.278px;
      background: #fff;

      input {
        visibility: hidden;
        height: 0;
        width: 0;
      }

      input:checked ~ .checkmark:after {
        display: block;
      }

      .checkmark:after {
        content: '✓';
        position: absolute;
        color: #285642;
        top: -3px;
        left: 2px;
      }

      .checkmark:after {
        display: none;
      }
    }
  }

  .selected {
    background: #03824e;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: contain;
  }

  .titles {
    color: #03824e;

    &-main {
      margin: 5px 0px 0px 0px;
      color: #285642;
      font-family: Wasa-Bold;
      font-size: 14px;
      font-style: normal;
      line-height: 140%; /* 19.6px */
    }

    &-sub {
      margin: 3px 0px 0px 0px;
      color: #285642;
      font-family: Wasa;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 138%; /* 19.32px */
      letter-spacing: -0.28px;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  /* css hover class/style */
  .checklistItem__container {
    .imgCheckbox:hover {
      background: #03824e;
      background-size: contain;
      background-repeat: no-repeat;
      background-blend-mode: multiply;
    }
  }
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .checklistItem__container {
    .imgCheckbox {
      width: 12vh;
      height: 12vh;
    }

    .titles {
      width: 12vh;

      .titles-main {
        font-size: 1.75vh;
      }

      .titles-sub {
        font-size: 1.5vh;
      }
    }
  }
}

@media (min-width: 450px) {
  /* smartphones, Android phones, landscape iPhone */
  .checklistItem__container {
    .imgCheckbox {
      width: 100px;
      height: 100px;
    }

    .titles {
      width: 100px;

      .titles-main {
        font-size: 14px;
      }

      .titles-sub {
        font-size: 11px;
      }
    }
  }
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .checklistItem__container {
    .imgCheckbox {
      width: 140px;
      height: 140px;
    }

    .titles {
      width: 140px;

      .titles-main {
        font-size: 15px;
      }

      .titles-sub {
        font-size: 12px;
      }
    }
  }
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .checklistItem__container {
    .imgCheckbox {
      width: 180px;
      height: 180px;
    }

    .titles {
      width: 180px;

      .titles-main {
        font-size: 16px;
      }

      .titles-sub {
        font-size: 13px;
      }
    }
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}