<div
  class="checklistItem__container"
  [ngStyle]="{
    'justify-content': index % 2 === 0 ? 'left' : 'right'
  }"
>
  <div>
    <div
      #imageContainerDiv
      (click)="onSelectItem($event)"
      [ngClass]="{
        'imgCheckbox': true,
        'selected': selected
      }"
      [ngStyle]="{
        'background-image': 'url(' + imageUrl + ')'
      }"
    >

      <label class="imgCheckbox__checkbox">
        <input [checked]="selected" type="checkbox" />
        <span class="checkmark"></span>
      </label>

    </div>

    <div class="titles">
      <h3 class="titles-main">{{ title }}</h3>
      <p class="titles-sub">{{ description }}</p>
    </div>
  </div>
</div>
